* {
  box-sizing: border-box;
}

html {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

html,
input {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 5rem;
}

.command-container.--r h2::before {
  content: '[Em Execução]';
  margin-right: 0.5rem;
  background-color: green;
  color: #fff;
  padding: 3px;
}

.command-container.--d h2::before {
  content: '[Finalizado]';
  margin-right: 0.5rem;
  background-color: #673ab7;
  color: #fff;
  padding: 3px;
}
